@model NBD_ClientManagementGood.Models.Project

@{
    ViewData["Title"] = "Create";
}
    <div class="text-dark bg-colour2">
        <div class="text-center">
            <h1>Create new project</h1>

            <h4>Project information</h4>
        </div>

        <hr />
        <div class="row">
            <div class="col-sm-3"></div>
            <form asp-action="Create" class="col-sm-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" value="Test Project"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" value="2020-02-10"/>
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" value="2020-05-06" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control"  value="2020-02-06"/>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClientID" class="control-label"></label>
                    <select asp-for="ClientID" class="form-control" asp-items="ViewBag.ClientID"></select>
                </div>
                <div class="form-group" style="float:left;width:330px;">
                    <input type="submit" value="Create" style="float:right;margin-left:10px;" class="btn btn-primary" />
                    <a asp-action="Index" style="float:right;" class="btn btn-danger">Back to List </a>
                </div>
            </form>
        </div>
     </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
