@model NBD_ClientManagementGood.Models.Plant

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Plant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastOrdered" class="control-label"></label>
                <input asp-for="LastOrdered" class="form-control" />
                <span asp-validation-for="LastOrdered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgNet" class="control-label"></label>
                <input asp-for="AvgNet" class="form-control" />
                <span asp-validation-for="AvgNet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="List" class="control-label"></label>
                <input asp-for="List" class="form-control" />
                <span asp-validation-for="List" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OIS" class="control-label"></label>
                <input asp-for="OIS" class="form-control" />
                <span asp-validation-for="OIS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IS_OB" class="control-label"></label>
                <input asp-for="IS_OB" class="form-control" />
                <span asp-validation-for="IS_OB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OOO" class="control-label"></label>
                <input asp-for="OOO" class="form-control" />
                <span asp-validation-for="OOO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OO_OB" class="control-label"></label>
                <input asp-for="OO_OB" class="form-control" />
                <span asp-validation-for="OO_OB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
