@model NBD_ClientManagementGood.Models.Item

@{
    ViewData["Title"] = "Create";
}


@*///////////////////////////////////////////////////////////////////////////
Hide: Size, Total cost, Net and install date when tool is picked
///////////////////////////////////////////////////////////////////////////*@

    <div class="text-success">
        <div class="text-center">
            <h1>Create New Items</h1>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <div class="form-group float-xl-left">
                  <label asp-for="Type" class="control-label"></label>
                  @*<input asp-for="Type" class="form-control" />*@
                  <select asp-for="Type" class="form-control">
                      <option value="">Chose a size</option>
                      <option value="Material">Material</option>
                      <option value="Plant">Plant</option>
                      <option value="Pottery">Pottery</option>
                      <option value="Tool">Tool</option>
                  </select>
                  <span asp-validation-for="Type" class="text-danger"></span>
                  </div>
                    <div class="form-group float-xl-left">
                        <label asp-for="Code" class="control-label"></label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group float-xl-left">
                        <label asp-for="Size" class="control-label"></label>
                        @*<input asp-for="Size" class="form-control" />*@
                        <select asp-for="Size" class="form-control">
                            <option value="">Chose a size</option>
                            <option value="L">Liters</option>
                            <option value="m">Meters</option>
                            <option value="cm">Centimeters</option>
                            <option value="mm">Milimeters</option>
                        </select>
                        <span asp-validation-for="Size" class="text-danger"></span>
                    </div>
                    <div class="form-group float-xl-left">
                        <label asp-for="Qty" class="control-label"></label>
                        <input asp-for="Qty" class="form-control" />
                        <span asp-validation-for="Qty" class="text-danger"></span>
                    </div>
                    <div class="form-group float-xl-left">
                        <label asp-for="Net" class="control-label"></label>
                        <input asp-for="Net" class="form-control" />
                        <span asp-validation-for="Net" class="text-danger"></span>
                    </div>
                    <div class="form-group float-xl-left">
                        <label asp-for="TotalCost" class="control-label"></label>
                        <input asp-for="TotalCost" class="form-control" />
                        <span asp-validation-for="TotalCost" class="text-danger"></span>
                    </div>
                    <div class="form-group float-xl-left">
                        <label asp-for="DeliveryDate" class="control-label"></label>
                        <input asp-for="DeliveryDate" class="form-control" />
                        <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                    </div>
                    <div class="form-group float-xl-left">
                        <label asp-for="InstallDate" class="control-label"></label>
                        <input asp-for="InstallDate" class="form-control" />
                        <span asp-validation-for="InstallDate" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width:330px;">
                        <input type="submit" value="Create" style="float:left;margin-left:50px;" class="btn btn-outline-success" />
                        <a asp-action="Index" style="float:right;margin-left:50px;" class="btn btn-outline-success">Back to List </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
